@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* color variables */
  --background: #ffffff;
  --foreground: #171717;
  --grey: #f9f9fb;
  --steel-Blue: #4682B4;
  --sky-Blue: #87CEEB;
  --deep-Blue: #101726;
  --light-Blue: #1f2937;
  

  /* text size*/
  --26p: 26px;
  --24p: 24px;
  --20p: 20px;
  --18p: 18px;
  --16p: 16px;
  --14p: 14px;
  --12p: 12px;
  
  /* font families */
  --Merriweather-sans: 'Merriweather';
  --Roboto-sans: 'Roboto', sans-serif;

}

html {
  @apply transition-colors duration-300;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--Roboto-sans);
}
